.idea/
output/
data/samples/*.jpg
weights/darknet53.conv.74
weights/*.pth
logs/*
!logs/.gitkeep
__pycache__
checkpoints/*
!checkpoints/.gitkeep
weights/*
!weights/.gitkeep
train_info/
detection/*
!detection/.gitkeep
data/dataset/*
!data/dataset/.gitkeep

